@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #0a0a0a;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}
